In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.DataFrame ({'Boys':[432,379,501,410,420,418], 'Girls':[408,513,412,436,461,500]})
Ages = [5,6,7,8,9,10]

In [5]:
df = df.T

In [9]:
df.columns = Ages

In [10]:
df

        5    6    7    8    9    10
Boys   432  379  501  410  420  418
Girls  408  513  412  436  461  500

In [12]:
Ages

[5, 6, 7, 8, 9, 10]

In [17]:
df2 = df

In [18]:
for i in Ages:
    df2.loc['Totals',i] = df2.loc['Boys',i] + df2.loc['Girls',i]

In [19]:
df2

           5      6      7      8      9      10
Boys    432.0  379.0  501.0  410.0  420.0  418.0
Girls   408.0  513.0  412.0  436.0  461.0  500.0
Totals  840.0  892.0  913.0  846.0  881.0  918.0

In [38]:
totals = df2.sum(axis=1)['Totals']

In [39]:
print(totals)

5290.0

In [46]:
Boys = df2.sum(axis=1)['Boys']

In [47]:
print(totals)

1826.0

In [48]:
df2.sum(axis=1)['Boys']/totals

1.4019715224534501

In [53]:
df2.loc['Totals',7]/totals

0.17258979206049149

In [54]:
df2.loc['Boys',10]/totals

0.079017013232514172

In [62]:
df2.loc['Totals',8:11]/totals

8     0.159924
9     0.166541
10    0.173535
Name: Totals, dtype: float64

In [63]:
np.sum(df2.loc['Totals',8:11]/totals)

0.5

In [69]:
total = df2.sum(axis=1)['Girls']

In [70]:
print(total)

2730.0

In [71]:
df2.loc['Girls',9]/total

0.16886446886446888